.carousel-slider img {
  transform: scale(1.1);
  margin: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 360px;
  height: 224px;
  opacity: 80%;
  position: relative;
  border: 5px solid;
}

.div-slider {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  outline: none;
}

.div-slider text {
  margin-left: 35px;
  margin-right: 35px;
  position: relative;
  background-color: gray;
  border-radius: 10%;
  padding: 5px;
  opacity: 70%;
  word-wrap: break-word;
  width: 20vw;
}
